html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: sans-serif;
}

.white-theme img{
    margin: 20px;
}

.black-theme img{
    margin: 20px;
}

.green-theme{
    background: url("resources/hire-bg-1.jpg");
}

h1 {
    font-size: 70px;
}

h2{
    font-size: 50px;
    margin-bottom: 0;
    padding-top: 20px;
}

form{
    text-align: left;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: white;
}

.white-theme{
    background-color: white;
    color: black;
}

.black-theme{
    background-color: black;
    color: white;
}

#top-section{
    height: 100vH;
    background: url("resources/top-background.jpg");
    background-size: cover;
    text-align: center;
}

#top-wrapper{
    height: 100%;
    background-color: rgba(28, 28, 28, 0.5);
    position: relative;
}

#intro-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    height: 100%;
}

#i-am{
    font-size: 26px;
    font-weight: bold;
}

#intro-section h1{
    margin: 20px;
    color: #52b3d9;
}

#intro-section h1 span{
    color: #68c3a3;
}

#top-description{
    width: 30%;
}

.line-list li{
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    //transform: rotate(45deg);
}
.line-list a{
    text-decoration: none;
    display: block;
    transform: rotate(-45deg);
}

.line-list span{
    //transform: rotate(-45deg);
}

.line-list .logo-box {
    border: 2px solid white;
    border-radius: 10%;
    transform: rotate(45deg);
    padding: 5px 7px;
    background-color: transparent;
    transition: .5s;
}

ul{
    padding-inline-start: 0 !important;
}

.line-list .logo-box:hover {
    background-color: #68c3a3;
    border-color: #68c3a3;
    transition: .5s;
}

#mouse-container{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 10%;
    align-content: center;
    align-items: center;
    bottom: 50px;
    position: absolute;
}

#mouse-scroll{
    border: 2px solid white;
    position: relative;
    border-radius: 16px;
    bottom: 40px;
    width: 30px;
    height: 50px;
    text-align: center;
}

#mouse-scroll .scroll{
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 50px;
}

#mouse-scroll #mouse-wheel{
    border: 2px solid white;
    background-color: white;
    border-radius: 16px;
    width: 1px;
    height: 7px;
    margin: 0 auto;
    position: relative;
    top: 4px;
    animation-name: drop;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes drop {
    0% {
        top: 5px;
        opacity: 0;
    }
    30% {
        top: 10px;
        opacity: 1;
    }

    100% {
        top: 25px;
        opacity: 0;
    }
}

#i-am-x-navbar {
    overflow: hidden;
    display: inline-block;
    width: 100%;
    height: 50px;
    border-bottom: double;
    border-color: #DCDCDC;
    background-color: white;
    z-index: 2;
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
}

#i-am-x-navbar .x-navbar-segment{
    display: inline;
    text-align: center;
    line-height: 50px;
}

#i-am-x-navbar #x-navbar-left{
    float: left;
    margin-left: 20%;
}

#i-am-x-navbar #x-navbar-left a{
    text-decoration: none;
    font-size: 28px;
    color: black;
    font-weight: 600;
}

#i-am-x-navbar #x-navbar-left a span{
    color: #68c3a3;
}

#i-am-x-navbar #x-navbar-right{
    float: right;
    margin-right: 20%;
    max-width: 100%;
}

#i-am-x-navbar::after {
    border-bottom: 1px solid #eee;
    width: 100%;
    position: absolute;
    content: "";
    height: 2px;
    bottom: 1px;
    left: 0;
}

#i-am-x-navbar #x-navbar-right a{
    margin-left: 10px;
    text-decoration: none;
    line-height: 50px;
    color: black;
    font-weight: 600;
    transition: 1s;
    max-width: 15%;
}

#i-am-x-navbar #x-navbar-right a:hover{
    transition: .2s;
    color: #68c3a3;
}

#x-navbar-right #active{
    color: #68c3a3;
}

#about-me-wrapper{
    padding-top: 50px;
    text-align: center;
}

#about-me-title h2{
    font-size: 50px;
    margin-bottom: 0;
}

#about-me-title img{
    margin: 20px;
}

#about-me-center-description{
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}

#about-me-left{
    margin-right: 5%;
}

#about-me-right{
    border: 1px solid #DCDCDC;
    margin-bottom: 50px;
    border-radius: 0 0 25px 25px;
    width: 100%;
}

#about-me-right #my-photo{
    position: relative;
}

#about-me-right #my-photo img{

}

#about-me-right img{
    margin: 0;
}

#about-me-right #photo-cover{
    background: url("resources/photo-frame.png") bottom center no-repeat;
    background-size: contain;
    z-index: 1;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#about-me-left #list-check{
    list-style-type: none;
    columns: 2;
}

#about-me-left p{
    font-size: 14px;
    line-height: 2;
}

#about-me-left #list-check li::before{
    content: "X";
    color: #68c3a3;
    margin-right: 10px;
}

#about-me-right #about-info-details{
    padding-left: 25px;
    padding-right: 25px;
}

#about-me-right #about-info-details hr{
    opacity: .3;
}

#about-me-bottom-buttons button{
    padding: 20px 30px;
    margin-right: 20px;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    border: none;
}

#dl-form{
    display: inline;
}

#about-me-bottom-buttons #cv-button{
    background-color: #68c3a3;
    border-bottom: 4px solid #3a9273;
}

#about-me-bottom-buttons #message-button{
    background-color: #52b3d9;
    border-bottom: 4px solid #2582a7;
}

#resume-section{
    text-align: center;
}

#resume-wrapper{
    margin-left: 20%;
    margin-right: 20%;
}

#resume-section ul {
    list-style-type: none;
}

#resume-section ul .left-panel{
     display: flex;
    flex-direction: row-reverse;
}

#resume-section ul .left-panel .timeline-panel{
    flex: 1;
    margin-right: 5%;
    padding: 20px 30px;
}

#resume-section ul .right-panel .timeline-panel{
    flex: 1;
    margin-left: 5%;
    padding: 20px 30px;
}

#resume-section ul .right-panel{
    display: flex;
    flex-direction: row;
}

#resume-section .left-panel{
    text-align: right;
    margin-right: 46.7%;
}

#resume-section .right-panel{
    text-align: left;
    margin-left: 46.7%;
}

#resume-section .timeline-panel{
    border: 5px solid gray;
    border-radius: 25px;
    transition: .2s;
}

#resume-section .timeline-panel:hover{
    background-color: #3a9273;
    border-color: #3a9273;
    color: white;
    transition: .2s;
}

.date{
    margin-top: 3.4%;
}

.timeline-panel{
    background-color: white;
    color: black;
}

#resume-wrapper{
    padding-bottom: 100px;
    padding-top: 25px;
}

#skills-section{
    padding-top: 30px;
    text-align: center;
}

#skills-wrapper{
    padding-bottom: 5%;
}

#skill-lines .skill label{
    text-align: left;
}

#skill-lines .meter {
    height: 10px;
    position: relative;
    background: #555;
    border-radius: 25px;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    margin-bottom: 20px;
}

#skill-lines{
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: space-between;
}

#skill-lines-left{
    flex: 1;
    padding: 1% 2%;
    text-align: left;
}

#skill-lines-right{
    flex: 1;
    padding: 1% 2%;
    text-align: left;
}

.meter > span {
    display: block;
    height: 100%;
    border-radius: 20px 8px 8px 20px;
    background-color: #68c3a3;
    box-shadow:
            inset 0 2px 9px  rgba(255,255,255,0.3),
            inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
}

#works-section{
    text-align: center;
}

#works-wrapper{
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 3%;
    padding-top: 1%;
}

#games-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#games-container a{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}

#games-container img{
    display: block;
    width: 100%;
    height: auto;
    margin: 20px 0 0;
    transition: .1s;
}

#games-container img:hover{
    transition: .5s;
    width: 80%;
}

#hired-section{
    text-align: center;
    height: 500px;
}

#hired-wrapper{
    background-color: rgba(104,195,163,0.5);
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hired-wrapper h2{
    margin-top: 0;
    padding-top: 0;
}

#hired-wrapper button{
    padding: 15px 20px;
    background-color: transparent;
    color: white;
    font-weight: 500;
    border: 2px solid white;
    border-radius: 5px;
    transition: .5s;
}

#hired-wrapper button:hover{
    background-color: white;
    color: black;
    transition: .5s;
}

#hired-wrapper #hire-me-form{
    text-align: center;
}

#contact-section{
    text-align: center;
}

#contact-wrapper{
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 1px;
}

#contact-wrapper input{
    width: 100%;
    line-height: 30px;
    display: block;
}

#contact-wrapper textarea{
    width: 100%;
    line-height: 30px;
    display: block;
}

#contact-wrapper label{
    line-height: 30px;
    display: block;
    font-weight: 600;
}
#contact-wrapper p{
    line-height: 30px;
    display: block;
    font-weight: 600;
    width: auto;
}

#contact-wrapper button{
    background-color: #68c3a3;
    border: none;
    border-bottom: 4px solid #3a9273;
    border-radius: 5px;
    color: white;
    padding: 20px;
    font-weight: 700;
}

#contact-flex-wrapper{
    display: flex;
    flex-direction: row;
}

#contact-left{
    flex: 1;
    text-align: left;
}

#contact-right{
    flex: 1;
}

.mapouter{
    padding-left: 50px;
}

.gmap_canvas{
    width: 100%;
    height: auto;
}